p {
	color: #F3F4F6;
	
	font-family: sans-serif;
	text-transform: uppercase;
	padding-right: 400px;
	padding-left: 15px;
	
}

p:hover{
	color: #111827;
}


#siswa{
	background: gainsboro;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

nav {
	display: block;
	background: black;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

a{
	text-align: center;
	color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

a:hover{
	background: gainsboro;
}
